<app-order-progress-bar
  *ngIf="personalisationProgress"
  [personalisationProgress]="personalisationProgress">
</app-order-progress-bar>

<app-stylist-question [orderData]="orderData"></app-stylist-question>

<app-phone-info
  *ngIf="orderData.hasAppointment"
  [orderData]="orderData">
</app-phone-info>

<app-appointment-dates 
  *ngIf="orderData.hasAppointment"
  [orderData]="orderData">
</app-appointment-dates>

<app-more-details [orderData]="orderData"></app-more-details>

<div class="app-schedule--controls">
  <a class="app-button app-button-frame app-schedule--back" routerLink="/">
    Back to landing page
  </a>

  <button 
    [ngClass]="{'is-invalid': !isValidOrder()}"
    class="app-button app-schedule--confirm-order">
    Confirm order
  </button>
</div>