/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamBold.woff2') format('woff2'),
      url('assets/fonts/GothamBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans.woff2') format('woff2'),
      url('assets/fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html {
  font-family: 'Open Sans';
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham';  
}

button {
  outline: none;
}

.app-button {
  display: inline-block;
  background: #2880A3;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: 'Gotham';  
  font-size: 14px;
  padding: 17px;  
}

.app-button-frame {
  background: #fff;
  border: 1px solid #2880A3;
  color: #333;
  font-family: 'Open Sans';
  padding: 10px 14px;  
  border-radius: 2px;
  text-align: left;
  text-transform: none;
}